name: Test

on:
  push:
    branches: ["master"]

jobs:
  build:
    strategy:
      matrix:
        os:
          - runner: "ubuntu-24.04"
            sys: "linux"
          - runner: "ubuntu-24.04-arm"
            sys: "linux"
          - runner: "macos-15"
            sys: "darwin"
          - runner: "windows-2025"
            sys: "windows"
            shell: "powershell"
          - runner: "windows-2025"
            sys: "windows"
            shell: "pwsh"
        mirror: ["", "--mirror"]
      fail-fast: false

    runs-on: ${{ matrix.os.runner }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Cangjie
        uses: Zxilly/setup-cangjie@v1
        with:
          channel: "nightly"
          version: "1.1.0-alpha.20260127020001"
          token: ${{ secrets.GITCODE_TOKEN }}

      - name: Test unix install
        if: matrix.os.sys != 'windows'
        run: |
          chmod +x public/install.sh
          bash public/install.sh ${{ matrix.mirror }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Test windows install
        if: matrix.os.sys == 'windows'
        run: |
          ${{ matrix.os.shell }} -File public/install.ps1 ${{ matrix.mirror }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Test cjbind
        run: |
          cjbind --version
